In [1]:
from translating_the_law.utils.get_from_disk import open_from_disk

In [2]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from gensim.test.utils import common_texts
import numpy as np
import pandas as pd

In [3]:
import string
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
import re
from nltk.stem import WordNetLemmatizer

In [4]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [5]:
basic_data = open_from_disk()

Basic data is a list and each item inside the list is a dictionary with these keys

In [6]:
basic_data[0].keys()

dict_keys(['judgement', 'press summary', 'details'])

#### Copy dataset

In [7]:
judg_data = [basic_data[i]["judgement"]['body'] for i in range(len(basic_data))]
dfc = pd.DataFrame(judg_data).copy()

# Preprocessing

In [8]:
dfc.head()

                                                   0
0  Hilary Term [2022] UKSC 6 On appeal from: [202...
1  The reporting restrictions made by the High Co...
2  Hilary Term [2022] UKSC 2 On appeal from: [202...
3  Hilary Term [2022] UKSC 2 On appeal from: [202...
4  THE COURT ORDERED that no one shall publish or...

#### Clean text

In [9]:
dfc = dfc.rename(columns={0 : 'text'})
dfc.head()

                                                text
0  Hilary Term [2022] UKSC 6 On appeal from: [202...
1  The reporting restrictions made by the High Co...
2  Hilary Term [2022] UKSC 2 On appeal from: [202...
3  Hilary Term [2022] UKSC 2 On appeal from: [202...
4  THE COURT ORDERED that no one shall publish or...

In [10]:
def remove_punctuation(text):
    for punctuation in string.punctuation: 
        text = text.replace(punctuation, ' ') 
    return text

dfc['clean_text'] = dfc.text.apply(remove_punctuation)

In [11]:
def cleaner(text, **kwargs):
  """params is a list of things to remove: codec, acronyms, numbers, brackets"""
  if 'codec' in kwargs['params']:
    text_encoded = text.encode('ascii', errors = 'ignore')
    text_decode = text_encoded.decode()
    clean_text = " ".join([word for word in text_decode.split()])
    text = clean_text
  if 'numbers' in kwargs['params']:
    pattern = r'[0-9]'
    text = re.sub(pattern, '', text)
  if 'brackets' in kwargs['params']: 
    text = re.sub('\(.*?\)', '', text)
    text = re.sub('\[.*?\]', '', text)
  if 'acronyms' in kwargs['params']:
    text = text.split()
    clean_text = []
    for word in text: 
      if any(l.islower() for l in word):
        clean_text.append(word)
    text = ' '.join(clean_text)
  return text

In [12]:
params = ['codec', 'numbers', 'acronyms', 'brackets']
for i in range(len(dfc['clean_text'])):
    strg = dfc['clean_text'][i]
    dfc['clean_text'][i] = cleaner(strg, params=params)

In [13]:
def lowercase (text): 
    lowercased = text.lower() 
    return lowercased

dfc['clean_text'] = dfc.clean_text.apply(lowercase)

dfc

,text,clean_text
0,Hilary Term [2022] UKSC 6 On appeal from: [202...,hilary term on appeal from craig appellant v h...
1,The reporting restrictions made by the High Co...,the reporting restrictions made by the high co...
2,Hilary Term [2022] UKSC 2 On appeal from: [202...,hilary term on appeal from admin pwr appellant...
3,Hilary Term [2022] UKSC 2 On appeal from: [202...,hilary term on appeal from admin pwr appellant...
4,THE COURT ORDERED that no one shall publish or...,that no one shall publish or reveal the names ...
...,...,...
941,Michaelmas Term [2009] UKSC 15 On appeal from...,michaelmas term on appeal from civ on the appl...
942,Michaelmas Term [2009] UKSC 16 On appeal from:...,michaelmas term on appeal from civ civ ahmed m...
943,Michaelmas Term [2009] UKSC 16 On appeal from:...,michaelmas term on appeal from civ civ ahmed m...
944,Michaelmas Term [2009] UKSC 16 On appeal from:...,michaelmas term on appeal from civ civ ahmed m...
945,Michaelmas Term [2009] UKSC 17 On appeal from:...,michaelmas term on appeal from civ children be...

In [14]:
text = nlp(dfc['clean_text'][0])
for w in text.ents:
    print(w.text,w.label_)

the united states of GPE
america GPE
lloyd jones ORG
kitchin PERSON
november DATE
dunne defence st PERSON
the united states GPE
america GPE
kenny PERSON
scotland GPE
kitchin PERSON
scottish NORP
scotland GPE
the european convention ORG
the united kingdom GPE
a period of years DATE
october DATE
scott baker PERSON
the house of commons home affairs committee ORG
some months later DATE
scott PERSON
october DATE
february DATE
one CARDINAL
the united kingdom GPE
the united kingdom GPE
the united kingdom GPE
the united kingdom GPE
the united kingdom GPE
one CARDINAL
one CARDINAL
the united kingdom GPE
the united kingdom GPE
the united kingdom GPE
the united states GPE
america GPE
one CARDINAL
two CARDINAL
secondly ORDINAL
scotland GPE
such day DATE
days DATE
northern ireland GPE
october DATE
scottish NORP
scottish NORP
scottish NORP
the day DATE
the house of commons ORG
scottish NORP
scotland GPE
scottish NORP
december DATE
scottish NORP
scotland GPE
scottish NORP
daily DATE
december DATE
scottish NORP
james craig PERSON
british NORP
scotland GPE
scotland GPE
scottish NORP
one CARDINAL
scotland GPE
june DATE
scotland GPE
scotland act ORG
scottish NORP
scotland GPE
scotland GPE
scottish NORP
malcolm PERSON
scotland GPE
such day DATE
days DATE
state ORG
scottish NORP
malcolm PERSON
third ORDINAL
scottish NORP
scottish NORP
malcolm PERSON
six months later DATE
june DATE
the scotland act paragraph d ORG
scottish NORP
scottish NORP
scottish NORP
july DATE
scottish NORP
september DATE
scottish NORP
brodie PERSON
january DATE
june DATE
scotland GPE
august DATE
september DATE
july DATE
july DATE
two CARDINAL
two CARDINAL
first ORDINAL
june DATE
the scotland act ORG
scotland GPE
the scotland act ORG
secondly ORDINAL
scottish NORP
the supreme court ORG
the supreme court ORG
malcolm PERSON
scotland GPE
september DATE
first ORDINAL
malcolm PERSON
scottish NORP
scotland parliament ORG
secondly ORDINAL
malcolm PERSON
first ORDINAL
scotland GPE
one CARDINAL
rwanda GPE
scottish NORP
first ORDINAL
st georges healthcare trust ORG
scottish NORP
scottish NORP
three CARDINAL
secondly ORDINAL
first ORDINAL
the european court of human ORG
united kingdom GPE
first ORDINAL
first ORDINAL
third ORDINAL
scottish NORP
malcolm PERSON
scottish NORP
scotland GPE
september DATE

In [15]:
lst_ent = nlp.pipe_labels['ner']
lst_rem_ent = ['PERSON', 'GPE', 'LOC', 'DATE', 'CARDINAL']

In [25]:
def filtering(text):
    text = nlp(text)
    new_str = ''
    for w in text.ents:
        if w.label_ not in lst_rem_ent:
            new_str += str(w.text) + " "
    return new_str

In [16]:
def filtering_2(text):
    text = nlp(text)
    new_lst = []
    for w in text.ents:
        if w.label_ in lst_rem_ent:
            new_lst.append(w.text)
    return new_lst

In [ ]:
first_try = filtering_2(dfc['clean_text'][0])
first_try

In [28]:
stop_words = set(stopwords.words('english')) 


def filter_final(text):
    delete_words = filtering_2(text)
    tokenized = word_tokenize(text)
    without_stopwords = [word for word in tokenized if not word in stop_words]
    with_filter = [word for word in without_stopwords if not word in delete_words]
    return with_filter

In [29]:
dfc['clean_text'] = dfc.clean_text.apply(filter_final)

In [26]:
dfc['clean_text'][0]

'hilary'

#### get a list of lists of words and lemmatize

In [32]:
"""
stop_words = set(stopwords.words('english')) 


def remove_stopwords (text):
    tokenized = word_tokenize(text)
    without_stopwords = [word for word in tokenized if not word in stop_words]
    return without_stopwords

dfc['clean_text'] = dfc.clean_text.apply(remove_stopwords)

dfc.head()
"""

,text,clean_text
0,Hilary Term [2022] UKSC 6 On appeal from: [202...,"[lloyd, jones, scottish, european, convention,..."
1,The reporting restrictions made by the High Co...,"[lloyd, jones, bloomberg, news, one, bloomberg..."
2,Hilary Term [2022] UKSC 2 On appeal from: [202...,"[lloyd, jones, birnberg, peirce, ltd, european..."
3,Hilary Term [2022] UKSC 2 On appeal from: [202...,"[lloyd, jones, birnberg, peirce, ltd, european..."
4,THE COURT ORDERED that no one shall publish or...,"[british, british, government, legal, departme..."

In [34]:
def lemma(text):
    lemmatizer = WordNetLemmatizer() # Initiate lemmatizer
    lemmatized = [lemmatizer.lemmatize(word) for word in text] # Lemmatize
    return lemmatized

dfc['clean_text'] = dfc.clean_text.apply(lemma)

dfc['clean_text'][1]

['lloyd',
 'jones',
 'bloomberg',
 'news',
 'one',
 'bloomberg',
 'supreme',
 'court',
 'bloomberg',
 'one',
 'united',
 'nation',
 'convention',
 'third',
 'three',
 'four',
 'ltd',
 'board',
 'bloomberg',
 'european',
 'two',
 'first',
 'secondly',
 'two',
 'two',
 'one',
 'two',
 'bloomberg',
 'bloomberg',
 'one',
 'one',
 'two',
 'two',
 'campbell',
 'v',
 'ltd',
 'douglas',
 'v',
 'hello',
 'ltd',
 'two',
 'one',
 'two',
 'two',
 'two',
 'european',
 'court',
 'human',
 'right',
 'ecthr',
 'supreme',
 'court',
 'newspaper',
 'ltd',
 'civ',
 'para',
 'one',
 'one',
 'axel',
 'axel',
 'first',
 'one',
 'first',
 'second',
 'third',
 'fourth',
 'two',
 'fifth',
 'one',
 'first',
 'second',
 'bloomberg',
 'bloomberg',
 'bloomberg',
 'bloomberg',
 'one',
 'bloomberg',
 'first',
 'one',
 'two',
 'second',
 'third',
 'fourth',
 'first',
 'second',
 'third',
 'fourth',
 'first',
 'one',
 'general',
 'v',
 'ltd',
 'admin',
 'second',
 'house',
 'common',
 'home',
 'affair',
 'committee',
 'seventeenth',
 'first',
 'british',
 'newspaper',
 'ltd',
 'nicklin',
 'nicklin',
 'bloomberg',
 'khuja',
 'v',
 'time',
 'newspaper',
 'ltd',
 'first',
 'khuja',
 'time',
 'khuja',
 'one',
 'wilson',
 'khujas',
 'one',
 'bloomberg',
 'bloomberg',
 'bloomberg',
 'diautas',
 'v',
 'lithuania',
 'axel',
 'gillberg',
 'v',
 'sweden',
 'axel',
 'axel',
 'first',
 'diautas',
 'v',
 'lithuania',
 'general',
 'medical',
 'council',
 'one',
 'bloomberg',
 'first',
 'two',
 'second',
 'bloomberg',
 'asserts',
 'bloomberg',
 'para',
 'two',
 'two',
 'brevan',
 'howard',
 'asset',
 'reuters',
 'ltd',
 'civ',
 'one',
 'axel']

# Preprocessing Part 2

Get a list of all the words that we know won't be used to extract context and will mislead our feature extraction

In [37]:
word_to_remove = [
'hilary', 'term', 'appeal', 'page', 'lord', 'lady', 'pwr',
 'michaelmas', 'uksc', 'civ', 'ewca', 'president', 'appealant', 'court', 'judge', 
]

In [45]:
def remove_final(lst):
    res = []
    for word in lst:
        if word in word_to_remove:
            lst.remove(word)
        if word not in res:
            res.append(word)
    return res

In [49]:
dfc['clean_text'] = dfc.clean_text.apply(remove_final)
dfc

,text,clean_text
0,Hilary Term [2022] UKSC 6 On appeal from: [202...,"[lloyd, jones, scottish, european, convention,..."
1,The reporting restrictions made by the High Co...,"[lloyd, jones, bloomberg, news, one, supreme, ..."
2,Hilary Term [2022] UKSC 2 On appeal from: [202...,"[lloyd, jones, birnberg, peirce, ltd, european..."
3,Hilary Term [2022] UKSC 2 On appeal from: [202...,"[lloyd, jones, birnberg, peirce, ltd, european..."
4,THE COURT ORDERED that no one shall publish or...,"[british, government, legal, department, amnes..."
...,...,...
941,Michaelmas Term [2009] UKSC 15 On appeal from...,"[stone, king, sewell, british, aileen, first, ..."
942,Michaelmas Term [2009] UKSC 16 On appeal from:...,"[civ, mahad, treasury, five, third, three, two..."
943,Michaelmas Term [2009] UKSC 16 On appeal from:...,"[civ, mahad, treasury, five, third, three, two..."
944,Michaelmas Term [2009] UKSC 16 On appeal from:...,"[civ, mahad, treasury, five, third, three, two..."
945,Michaelmas Term [2009] UKSC 17 On appeal from:...,"[trafford, borough, council, legal, democratic..."

# LDA : extract topic

In [65]:
dfc['clean_text'] = dfc['clean_text'].astype('str')

In [51]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

data_vectorized = vectorizer.fit_transform(dfc['clean_text'])

In [ ]:
#tf_idf_vectorizer = TfidfVectorizer(ngram_range = (2,2))

# X = tf_idf_vectorizer.fit_transform(texts)

# X.toarray()

# pd.DataFrame(X.toarray(),columns = tf_idf_vectorizer.get_feature_names())

In [56]:

lda_model = LatentDirichletAllocation(n_components=20, learning_method='online')

lda_vectors = lda_model.fit_transform(data_vectorized)

In [57]:
def print_topics(model, vectorizer):
    for idx, topic in enumerate(model.components_):
        print("Topic %d:" % (idx))
        print([(vectorizer.get_feature_names()[i], topic[i])
                        for i in topic.argsort()[:-10 - 1:-1]])
        

print_topics(lda_model, vectorizer)

Topic 0:
[('leighton', 5.973926771015396), ('berwin', 5.629273738554441), ('woman', 2.7029599381506446), ('paisner', 2.6804645732361694), ('ec', 2.576908432795442), ('assessment', 2.401710237908965), ('euro', 1.985676416580449), ('leverton', 1.8185016250826938), ('holiday', 1.8182187755953116), ('dollar', 1.8003586501840936)]
Topic 1:
[('bond', 2.4311675479918224), ('bail', 1.6413229945292496), ('initio', 0.8935053823005197), ('arrest', 0.8424878149121915), ('moorland', 0.8390583133085939), ('void', 0.83886284849497), ('narrower', 0.8386979966653643), ('glasbrook', 0.8383726874030322), ('loucas', 0.8383510076364973), ('aylmerton', 0.8382864047043291)]
Topic 2:
[('respondent', 0.05467791222553416), ('two', 0.05452411010758935), ('conditional', 0.054466453331343236), ('christian', 0.05445756457859115), ('convention', 0.054451084023236986), ('lloyd', 0.054427947722018734), ('parliament', 0.05442577617031691), ('british', 0.0543679058666801), ('ii', 0.054357392471956784), ('scottish', 0.0543395936570248)]
Topic 3:
[('ka', 13.647227251469694), ('mahad', 13.585349560027662), ('ayan', 13.562024716682263), ('birmingham', 10.107115845339786), ('wolverhampton', 9.614398790112519), ('university', 8.210692970426987), ('muslim', 7.7019775734469915), ('single', 7.2418537655519994), ('thousand', 6.716651361024838), ('runa', 6.659175867191617)]
Topic 4:
[('principal', 2.339634398762201), ('directive', 1.6535012431819938), ('ministero', 1.5060811948222732), ('model', 0.8391094720768324), ('interest', 0.8389987008413333), ('amtfs', 0.8389780914530826), ('therein', 0.838955697917627), ('fisher', 0.8389390750043626), ('entire', 0.8389192574804545), ('allocation', 0.8388054048425292)]
Topic 5:
[('regulation', 0.05216700117592352), ('andrew', 0.05210700229119445), ('morley', 0.05210666817475563), ('kellett', 0.05210372518691284), ('western', 0.052100082873123024), ('organisation', 0.052062613337392705), ('gothenburg', 0.052056030250526686), ('pakistan', 0.052036119446817436), ('hargrave', 0.05202615282400926), ('memorandum', 0.052019817126536784)]
Topic 6:
[('normal', 13.616333714789606), ('working', 10.361933539302212), ('son', 10.360046171567973), ('american', 9.031200796987381), ('mile', 8.857320866661262), ('parochial', 8.56563643673423), ('mason', 8.521391853275938), ('billesley', 7.5947659161118075), ('lloyd', 7.532873182492112), ('agency', 7.1604096439664024)]
Topic 7:
[('ullah', 6.613470188142995), ('bircham', 5.420726245580433), ('dyson', 5.420014094855397), ('paterson', 3.268216533059907), ('litre', 3.117492051858639), ('oban', 3.115756198414322), ('tomorrow', 3.113986423643027), ('proposition', 3.1132450124129036), ('spielmann', 3.1127286238649883), ('miranda', 3.111153438423405)]
Topic 8:
[('metre', 14.843692967198315), ('royal', 12.314372993608337), ('turner', 11.48449461242308), ('star', 10.764047901850219), ('lewis', 10.195870469906053), ('million', 9.75051146292989), ('sun', 9.699732411897893), ('ocean', 9.260169672193506), ('zurich', 8.593328072150396), ('mile', 8.203793572404223)]
Topic 9:
[('une', 9.306631633848129), ('iii', 8.891400211939299), ('commerce', 7.767475528868645), ('million', 6.277252753958308), ('dicey', 6.27397111111502), ('nigeria', 5.421860302887666), ('libyan', 4.14944080563707), ('affair', 3.810026040971974), ('connecticut', 3.720460347066388), ('swiss', 3.6339612400574506)]
Topic 10:
[('counsel', 1.6204412481058212), ('conditional', 0.08529572640524813), ('third', 0.05798330104991897), ('secondly', 0.05797427199848351), ('european', 0.05751398498129517), ('para', 0.05748380865453015), ('supreme', 0.05742346727722457), ('three', 0.057320342829867456), ('court', 0.05704492542761282), ('first', 0.05693917860092583)]
Topic 11:
[('guardian', 0.0521351410944327), ('spinner', 0.05211020724889564), ('majesty', 0.052069715983130135), ('farrell', 0.05206874424317504), ('singular', 0.05206230675888063), ('italiana', 0.05205655400350255), ('mifid', 0.05205492960251703), ('rdss', 0.0520426654996191), ('grobelaar', 0.052042299284545214), ('anheuser', 0.05204015559688819)]
Topic 12:
[('cooper', 7.407306331830062), ('trustee', 5.5297540684668816), ('letang', 2.7736002614423283), ('name', 2.772372520639382), ('unicos', 2.770498428079885), ('chatsworth', 2.7686109506574863), ('cussins', 2.7674569127726545), ('bradstock', 2.766433213020817), ('staff', 2.3197428746595765), ('mihlenstedt', 2.010333695284057)]
Topic 13:
[('inc', 12.437030064199908), ('co', 8.79638035917782), ('federal', 8.480753029979839), ('standard', 7.592375390812806), ('qcs', 7.396959081838348), ('millett', 6.808000894313434), ('chinese', 6.797169709844628), ('ch', 6.6847883688204295), ('sixty', 6.525111628751581), ('per', 6.43859185344313)]
Topic 14:
[('govan', 1.735541416926752), ('kvaerner', 1.734953700542182), ('grange', 0.941715581898046), ('letham', 0.9174120012844468), ('duthie', 0.8387441974702382), ('bukta', 0.8387156787337167), ('fix', 0.8386684792657213), ('parade', 0.8384500841959616), ('verfahrens', 0.83843571341414), ('moment', 0.8364199235910617)]
Topic 15:
[('metix', 1.0726757057524834), ('congoleum', 1.0726150659696978), ('mannington', 1.0725999536651032), ('intl', 1.0725782811253048), ('gahagan', 1.0724051418846412), ('tyburn', 1.0721274207622618), ('billiton', 1.072031925725767), ('plastic', 1.0719704533906833), ('champion', 1.07119632907618), ('fair', 1.0710380070346883)]
Topic 16:
[('two', 880.183803184685), ('first', 879.4800966327462), ('one', 837.0666965212546), ('second', 813.7230439242938), ('three', 775.4603151110368), ('third', 714.5903386503934), ('secondly', 620.4903598796852), ('court', 599.7807245586172), ('european', 582.6453312638565), ('house', 514.3584654497679)]
Topic 17:
[('security', 15.096953358426585), ('al', 14.789749431231446), ('casting', 12.339640100124884), ('berrymans', 11.651965120185455), ('scrutton', 11.130294246946711), ('armed', 10.82266453524515), ('force', 10.69451377669664), ('iraqi', 10.065377999306584), ('rix', 9.939527543564234), ('akzo', 9.863143908318454)]
Topic 18:
[('solicitor', 12.559130897807105), ('crown', 12.37819984564971), ('kingdom', 11.786997068048409), ('united', 11.232326992983278), ('hundred', 11.056718990724855), ('mr', 10.75631512443926), ('common', 10.650020628295565), ('turkish', 10.385665023644886), ('committee', 10.296951897526865), ('commission', 10.282226433264334)]
Topic 19:
[('common', 0.052521839404348486), ('first', 0.05233231722791239), ('intervener', 0.05232272523146855), ('privy', 0.052302660314378316), ('legal', 0.05223942587067547), ('de', 0.052202877048966576), ('convene', 0.052171378398467985), ('bell', 0.052147248067326187), ('select', 0.05213657639306949), ('act', 0.052134854208444)]

vectorizer = CountVectorizer(ngram_range=(2,2))

X_ngram = vectorizer.fit_transform(data.clean_reviews)

cv_nb = cross_validate( MultinomialNB(), X_ngram, data.target, scoring = "accuracy")

cv_nb['test_score'].mean()

In [ ]:
# Create Pipeline

# Set parameters to search (model and vectorizer)

# Perform grid search on pipeline
#from sklearn.model_selection import GridSearchCV
#from sklearn.pipeline import Pipeline
#from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.naive_bayes import MultinomialNB

# Create Pipeline
#pipeline = Pipeline([
  #  ('tfidf', TfidfVectorizer()),
 #   ('nb', MultinomialNB()),
])

# Set parameters to search
# parameters = {
  #  'tfidf__ngram_range': ((1,1), (2,2)),
  #  'tfidf__min_df': (0.05,0.1),
  #  'tfidf__max_df': (0.75,1),
  #  'nb__alpha': (0.01,0.1,1,10),}

# Perform grid search on pipeline
# grid_search = GridSearchCV(pipeline, parameters, n_jobs=-1, 
    #                       verbose=1, scoring = "accuracy", 
       #                    refit=True, cv=5)

# grid_search.fit(data.clean_reviews,data.target)

####

# Initialize Model

In [ ]:
import gensim
from gensim.test.utils import common_texts
from gensim.models.doc2vec import Doc2Vec, TaggedDocument

In [ ]:
def tagged_document(list_of_list_of_words):
   for i, list_of_words in enumerate(list_of_list_of_words):
      yield TaggedDocument(list_of_words, [i])
data_for_training = list(tagged_document(dfc['clean_text']))

#### Once trained we now need to initialise the model.

In [ ]:
model = Doc2Vec(documents = data_for_training)

#### Build Vocabulary

In [ ]:
model.build_vocab(data_for_training)

#### Train the Doc2Vec

In [ ]:
model.train(data_for_training, total_examples=model.corpus_count, epochs=model.epochs)

## Analysing the Output

In [ ]:
vec1 = model.infer_vector(test_1)

In [ ]:
len(vec1)

In [ ]:
model